.completed-todo {
    background-color: #6BADB5;
    border-radius: 5px;
    height: 3rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.completed-text {
    text-decoration: line-through;
}