#date-block {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: 'Bebas Neue', cursive;
    color: white;
}
  
#day-num {
    font-size: 6vh;
    line-height: .7;
}
  
#day-text {
    margin-left: auto;
}