#completed-list {
    font-family: 'Archivo', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 83%;
}

#completed-list-header {
    text-align: left;
}