@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Archivo&family=Bebas+Neue&display=swap');

#tmol-frontend {
  background-color: #667173;
  height: 100vh;
}

#tmol-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tmol-logo {
  padding: .25rem;
}

#date-progress-wrapper {
  padding: 0 0 1vh 0;
  width: 83%;
}


#completed-list {
  font-family: 'Archivo', sans-serif;
  color: white;
}