#add-new-item-bar {
    background-color: #93A4A6;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 3rem;
    width: 83%;
  }
  
  #add-new-item-input {
    background-color: #93A4A6;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    grid-column: 2/18;
    grid-row: 2/4;
    outline: none;
  }
  
  #add-item-button {
    background: none;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    grid-column: 20/20;
    grid-row: 2/4;
  }
  
  #add-item-icon {
    color: white;
  }